<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

    <title>IIT Kanpur | Share</title>
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css">-->
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://samarthbansal.com/share-iitk/css/layouts/side-menu.css">
    <!--<![endif]-->
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="#">ShareIITK</a>

            <ul>
                <li class="menu-item-divided pure-menu-selected"><a href="home/">Home</a></li>
                <li><a href="/upload/">Upload New</a></li>
                <li><a href="my-upload.html">My Uploads</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>SHARE | IIT Kanpur</h1>
            <h2>Assignments. Quizzes. Exams : All at one place!</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Search</h2>
            <p>
            <form class="pure-form">
                <fieldset>
                    <legend>Search by course name, code!</legend>

                    <input type="text" placeholder="Keyword">
                    <button type="submit" class="pure-button pure-button-primary">Search</button>
                </fieldset>
            </form>            
            </p>
        </div>

        <div class = "content">
            <table class="pure-table table-hover table-bordered">
                <tr>
                    <td>Course Code</td>
                    <td>Course Name</td>
                    <td>Type</td>
                    <td>Download</td>
                </tr>
                {%for i in list%}
                <tr>
                    <td>{{i.course_name}}</td>
                    <td>{{i.course_code}}</td>
                    <td>{{i.category}}</td>
                    <td><a href = "">Download</a></td>                
                </tr>
                {%endfor%}
            </table>
        </div>
        
    </div>
</div>
<script src="js/ui.js"></script>


</body>
</html>
